.pagina {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.izquierda {
    background-color: black;
    height: 100vh;
    width: 50px;
}

.izquierda .botones {
    background-color: rgba(91, 91, 185, 0.75);
    height: 250px;
    width: 50px;
    position: absolute;
    top: 414px;
}

.botones button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    color: white;
}

.botones button:hover {
    background-color: rgb(135, 135, 226);
    color: white;
}

.lado{
    
}