.pagina{
    background-color: rgb(173, 165, 165);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
.cabecera{
    background-color: aqua;
    width: 100%;
}
.contenido{
    background-color: blueviolet;
    height: 380px;
    width: 460px;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
}
.contenido .uno{
    height: 190px;
    width: 220px;
}
.contenido .dos{
    height: 190px;
    width: 220px;
    position: absolute;
    top: 40px;
    left: 220px;
}
.contenido .tres{
    height: 100px;
    width: 400px;
    padding-left: 20px;
}