.navbar{
    background-color: green;
}

.contenido1{
    background-color: yellow;
    
}

.contenido2{
    background-color: red;
    width: 800px;
    height: 400px;
}

.contenido3{
    background-color: blue;
    margin-left: 50px;
    width: 200px;
    height: 200px;
}

.imagen{
    margin-right: 50px;
    width: 200px;
    height: 200px;
}