.elcontenidosss{
    background-color: rgb(105, 67, 19);
    height: 100vh;
    width: calc(100%);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.contadorrecibo{
    margin: auto;
    background-color: rgb(100, 63, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 455px;
    width: 970px;
}
.contadorrecibo .arriba{
    margin-top: 10px;
    background-color: aqua;
    position: absolute;
    top: 0;
    border: 1px;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin: 10px;
    max-width: 950px;
    align-self: center;
}

.contadorrecibo .contenidoseishon{
    background-color: rgb(228, 212, 193);
    margin-top: 69px;
    align-self: center;
}

.contenidoseishon input{
    width: 140px;
}

.paredes{
    margin-top: 10px;
    padding: 10px;
}