.elcontenidosss{
    background-color: rgb(219, 201, 179);
    height: 100vh;
    width: calc(100%);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.contadorrecibo{
    margin: auto;
    background-color: rgb(228, 203, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 470px;
    width: 970px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px 15px 15px 15px;
}
.contadorrecibo .arriba{
    margin-top: 10px;
    background-color: rgb(85, 59, 20);
    color: white;
    position: absolute;
    top: 0;
    border: 1px;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin: 10px;
    max-width: 950px;
    align-self: center;
}

.contadorrecibo .contenidoseishon{
    margin-top: 60px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
}

.contenidoseishon input{
    width: 140px;
}

.uno{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dos{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.tres{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.cuatro{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.sinco{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.seis{
    display: flex;
    align-items: center;
}