.paginaseishon{
    background-color: rgb(30, 12, 80);
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
}

.container-fluid{
    background-color: rgb(0, 2, 24);
}

.dropdown-menu{
    background-color: rgb(6, 10, 53);
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(0, 2, 24) !important;
}
.container-fluid a{
    color: white;
}

.d-flex button{
    background-color: royalblue;
    color: white;
    border: none;
}

.d-flex button:hover{
    background-color: rgb(94, 131, 240);
    color: white;
    border: none;
}

img{
    width: 50%;
    height: 550px;
    margin: 25px;
    padding-right: 50px;
}
