.paginaseishon{
    background-color: rgb(255, 205, 205);
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
}
.arriba{
    background-color: brown;
    color: blanchedalmond;
    padding: 10px;
}

.carousel-indicators button{
    margin-top: 10px;
}

img{
    height: 455px;
    width: 221px;
    margin: 50px;
    padding-right: 100px;
}

.carousel-item{
    transition: transform 1.5s ease, opacity .5s ease-out
}