.pagina{
    background-color: rgb(58, 80, 87);
    height: 100vh;
    width: 100%;
}

.cabecera{
    background-color: seagreen;
    height: 50px;
}
.alineacion{
    margin: 0 auto;
    background-color: blue;
    height: 450px;
    width: 990px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.alineacion .imagen{
    background-color: antiquewhite;
    height: 150px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
}

.alineacion .inicio{
    background-color: blueviolet;
    height: 350px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
}
.alineacion .inicio textarea{
    height: 50px;
    width: 300px;
    margin-left: 50px;
}

.alineacion .inicio button{
    height: 50px;
    width: 300px;
    margin-left: 50px;
}