.pagina {
    background-color: rgb(148, 148, 167);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.barraizquierda {
    background-color: rgb(58, 80, 87);
    color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 50px;
    position: relative;
    z-index: 1;
    float: left;
}

.barraizquierda button{
    background-color: rgb(41, 187, 231);
    color: rgb(255, 255, 255);
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.barraizquierda svg{
    width: 30px;
    height: 30px;
    padding-right: 0px;
    margin: auto;
}

.lodemas{
    background-color: rgb(78, 58, 87);
    color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 500px;
    position: relative;
    z-index: 2;
    display: block;
    float: left;
}

.lodemas .arriba{
    background-color: gray;
    position: top;
    display: flex;
    height: 100px;
    width: 500px;
}

.lodemas .arriba{
    background-color: gray;
    position: top;
    display: flex;
    height: 100px;
    width: 500px;
}



.lodemas .abajo{
    background-color: thistle;
    position: fixed;
    display: flex;
    height: 600px;
    width: 500px;
}

.abajo select{
    width: 100px;
    height: 30px;
    margin: 10px;
}